
@import url('../css/fonts.css');
@import url('../css/pastie.css');



html,body{
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #fdfdfd;
}

footer {
  height: 23px;
  background-color: #293043;
  text-align: center;
  font-family: OpenSans-reg;
  font-size: 12px;
  color : #dedbe666;
}


:root{

  /*---Theme colors---*/

  --text-head: #797979;
  --text-micro: #a0a0a0;
  --text-author: #666666;
  --text-des: #666;
  --red: #FF3636;
  --blue: #293043;
  --border-gray: #dbdbdf;

}

/* ----------Global classes----------*/

a{
  text-decoration: none;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

/* -----x----Global classes----x-----*/

.about {
    max-width: 625px;
    margin: 10% auto;
    padding: 0 0.75rem;
  }
.about .h1 {
  color: var(--text-head);
  font-size: 40px;
  font-family: OpenSans-semibold;
  position: relative;
}
.about p{
  color: var(--text-des);
  font-size: 16px;
  font-family: OpenSans-reg;
  position: relative;
}

hr.hr {
border-top: 1px solid;
border-color: var(--border-gray);
}

.about .we-are {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about .we-are .a-info {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 30%;
}

.about .we-are .a-info a{
  padding: 5px;
  position: relative;
}

.about .we-are .a-info a{
  padding: 5px;
  position: relative;
}



.about .we-are .a-img {
  width: 160px;
  height: 160px;
  filter: grayscale(90%);
}

.we-are .a-info .a-name  {
  color: black;
}

.we-are .a-info .a-role  {
  color: var(--text-des)
}

.we-are .a-info .social-link {
  color: var(--text-des)
}





/* ----------Nav bar----------*/

.site-header {
  background-color: white;
  opacity: 0.75;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 56px;
  width: 100%;
  z-index: 50;
  font-family: OpenSans-reg;
  font-size: 16px;
  color: var(--text-des);
  box-shadow: 0 2px 20px -12px #757575;
}

.site-header a{
  text-decoration: none;
  color: var(--text-gray);
}

.wrapper {
  max-width: calc(800px - (50px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.site-nav {
  float: right;
  line-height: 56px;
}

.trigger {
line-height: 56px;
}

.sit-nav .page-link {
  line-height: 10px;
}

.site-nav .page-link:not(:first-child) {
    margin-left: 36px;
  }

.header-bar {
      left: 0px;
      top: 0px;
      position: relative;
      font-size: 20px;
      display: block;
      opacity: 0.75;
      width: 100%;
      text-align: center;
      padding-top: 80px;
      line-height: 3em;
      z-index: 25;
  }


nav {
  display: flex;
  float: right;
}




h1 {
  font-family: OpenSans-reg;
  letter-spacing: -2px;
  margin: 60px 0 10px 0;
  padding: 0;
  font-size: 100px;
  color: #c52e35;
}

.header-bar .tagline {
  font-family: OpenSans-reg;
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: var(--text-des);
}



@media only screen and (max-width:750px)
{


  nav
  {
    display: none;
  }

  .about {
      max-width: 625px;
      margin: 5% 5%;
      padding: 0 0.75rem;
    }
}



/* ----------Nav bar----------*/



/*------------Post----------------*/

.post-cont{
  padding: 30px 0px 30px 0px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--border-gray);
}

.post-sub {
  line-height: 10px;
}



.post-list{
  margin: 2% 27%;
  padding:0px;
  list-style-type: none;
}

.post-list .post-meta{
  color: var(--text-micro);
  font-size: 16px;
  font-family: OpenSans-reg;
}

.post-list .post-read-time{
  color: var(--text-micro);
  padding: 0px 30px;
  font-size: 16px;
  font-family: OpenSans-reg;
  position: absolute;
}

.post-list .post-link{
  font-size: 40px;
  font-family: OpenSans-reg;
  letter-spacing: -2px;
  color: var(--text-head);
  line-height: 1.2;
}

.post-list .post-link:hover {
  color: var(--blue)
}


.post-list .post-description {
  color: var(--text-des);
  padding: 0px 0px 0px;
  font-size: 16px;
  font-family: OpenSans-reg;
  position: relative;
  line-height: 1.4;
}


@media only screen and (max-width:750px){

  .post-list{
    margin: 5% 5%;
    padding:0px;
    list-style-type: none;
  }

  .post-list .post-link{
    font-size: 40px;
    font-family: OpenSans-reg;
    letter-spacing: -1.5px;
    color: var(--text-head);
    line-height: 44px;
  }


}


/*-----x------Post--------x-------*/



/*------------Article----------------*/

.container-head {
  max-width: 42%;
  margin: 0 auto;
  padding: 0 0.75rem;
}

.article-title {
  color: #293043;
  font-size: 50px;
  font-family: OpenSans-semibold;
  position: relative;
  letter-spacing: -2px;
  line-height: 65px;
}


.article-des {
  color: #676767;
  font-size: 21px;
  font-family: OpenSans-reg;
  margin: 0;
  padding: 0;
}


.article-rt {
  border-left:2px solid;
  border-color: var(--border-gray);
  color: var(--text-micro);
  padding: 0px 20px;
  font-size: 14px;
  font-family: OpenSans-reg;
  position: relative;
  text-transform: uppercase;
}


.article-date {
  color: var(--text-micro);
  padding: 0px 20px 0px 0px;
  font-size: 14px;
  font-family: OpenSans-reg;
  position: relative;
  text-transform: uppercase;
}

.article-con {
  color: var(--text-author);
  padding: 0px 20px 0px 0px;
  font-size: 16px;
  font-family: OpenSans-reg;
  position: relative;
  font-weight: bold;
  /* text-transform: uppercase; */
}


/*----x-------Article---------x------*/



/*------------TOC----------------*/


.section-nav {
  color: var(--text-micro);
  position: fixed;
  float: left;
  margin-top: -10%;
  margin-left: 2%;
  margin-right: 80%;
  line-height: 20px;
}

.section-nav a{
  color: var(--text-micro);
  font-size: 16px;
}


.section-nav ul li{
list-style: circle;
}


ul li:hover a{
text-decoration: none;
color: var(--blue);
}






.section-nav li{
  list-style: none;
  padding: 4px 0;
}




@media only screen and (max-width:750px) {

  .section-nav {
    display: none;
  }

}


/*------x-----TOC----------x-----*/
