
<header>
  <a href="index.html" class="logo">sci-eco</a>
  <div class="menu-toggle"><i class="fas fa-bars"></i></div>
  <nav>
    <ul>
      <li><a href="#">Publications</a></li>
      <li><a href="about.html">About</a></li>
    </ul>
  </nav>
  <div class="clearfix"></div>
</header>





<script src="../scipts/jquery.js"></script>
<script type="text/javascript">
  $(document).ready(function)(){
    $('.menu-toggle').click(function(){
      $('.menu-toggle').toggleClass('active')
    })
  })
</script>
