<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sci-eco blog</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/master.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/all.css">
  </head>
  <body>

<!---Nav Bar--------------------------------------->

    {% include main-nav.html %}

 <!--x-Nav Bar-x------------------------------------->

<div class="about">
  <span class="h1">About</span>
  <br>
  <br>
  <p>
    In contrast to a landing page, your About Us page is the ideal place to accommodate a number of objectives:
    <br>
    <br>
    Communicate the story of your business and why you started it.
    <br>
    Describe the customers or the cause that your business serves.
    <br>
    Explain your business model or how your products are made.
    <br>
    Put a face to your business, featuring the founders or the people on your team.
    <br>
    Incorporate persuasive content (e.g. an explainer video, data visualizations, links to blog posts)
    that might otherwise clutter your homepage.
    <br>
    <br>
    In short, your About Us page is a home for your founding story, a place to show off your business wins,
    and a sales page that answers the most pressing question new customers have about your business outside
  </p>
  <br>
  <br>
  <hr class="hr">
  <br>
  <br>
  <br>
  <br>


  <div class="we-are">

      <div class="a-info">
        <img class="a-img" src="https://avatars1.githubusercontent.com/u/9583894?s=400&u=1a4b4f055d73eda68ac651a67ba4e72650824031&v=4" alt="#">
        <p class="a-name">Suriyadeepan</p>
        <p class="a-role">Researcher</p>
          <a class="social-link" href="#img"><i class="fab fa-twitter"></i></a>
          <a class="social-link" href="#img"><i class="fab fa-linkedin"></i></a>
          <a class="social-link" href="#img"><i class="fab fa-github"></i></a>
        </div>

        <div class="a-info">
          <img class="a-img" src="https://ca.slack-edge.com/T01007BDHFF-U010M4HC13L-c657516eed0d-512" alt="#">
          <p class="a-name">Naveen Prasanth</p>
          <p class="a-role">Researcher</p>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
          </div>

          <div class="a-info">
            <img class="a-img" src="https://avatars1.githubusercontent.com/u/9583894?s=400&u=1a4b4f055d73eda68ac651a67ba4e72650824031&v=4" alt="#">
            <p class="a-name">Suriyadeepan</p>
            <p class="a-role">Researcher</p>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
              <a href="#"><i class="fab fa-github"></i></a>
            </div>

            <div class="a-info">
              <img class="a-img" src="https://ca.slack-edge.com/T01007BDHFF-U010M4HC13L-c657516eed0d-512" alt="#">
              <p class="a-name">Naveen Prasanth</p>
              <p class="a-role">Researcher</p>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-github"></i></a>
              </div>

              <div class="a-info">
                <img class="a-img" src="https://avatars1.githubusercontent.com/u/9583894?s=400&u=1a4b4f055d73eda68ac651a67ba4e72650824031&v=4" alt="#">
                <p class="a-name">Suriyadeepan</p>
                <p class="a-role">Researcher</p>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-linkedin"></i></a>
                  <a href="#"><i class="fab fa-github"></i></a>
                </div>

                <div class="a-info">
                  <img class="a-img" src="https://ca.slack-edge.com/T01007BDHFF-U010M4HC13L-c657516eed0d-512" alt="#">
                  <p class="a-name">Naveen Prasanth</p>
                  <p class="a-role">Researcher</p>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                  </div>

                  <div class="a-info">
                    <img class="a-img" src="https://avatars1.githubusercontent.com/u/9583894?s=400&u=1a4b4f055d73eda68ac651a67ba4e72650824031&v=4" alt="#">
                    <p class="a-name">Suriyadeepan</p>
                    <p class="a-role">Researcher</p>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-linkedin"></i></a>
                      <a href="#"><i class="fab fa-github"></i></a>
                    </div>



  </div>
</div>

<!---Footer--------------------------------------->

    {% include footer.html %}

 <!--x-Footer-x------------------------------------->




</body>
</html>
