<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>scicafe | about us</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/master.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/all.css">
  </head>
  <body>

<!---Nav Bar--------------------------------------->

    {% include main-nav.html %}

 <!--x-Nav Bar-x------------------------------------->

<div class="about">
  <span class="h1">About</span>
    <div class="content">
      {{ content }}
    </div>
</div>


    <!-- THe photo gallery looks awful. Commenting out until its resolved. -->
    <!-- 
  <div class="we-are">

      <div class="a-info">
        <img class="a-img" src="https://avatars1.githubusercontent.com/u/9583894?s=400&u=1a4b4f055d73eda68ac651a67ba4e72650824031&v=4" alt="#">
        <p class="a-name">Suriyadeepan</p>
        <p class="a-role">Researcher</p>
          <a class="social-link" href="#img"><i class="fab fa-twitter"></i></a>
          <a class="social-link" href="#img"><i class="fab fa-linkedin"></i></a>
          <a class="social-link" href="#img"><i class="fab fa-github"></i></a>
        </div>

        <div class="a-info">
          <img class="a-img" src="https://ca.slack-edge.com/T01007BDHFF-U010M4HC13L-c657516eed0d-512" alt="#">
          <p class="a-name">Naveen Prasanth</p>
          <p class="a-role">Researcher</p>
            <a class="social-link" href="#"><i class="fab fa-twitter"></i></a>
            <a class="social-link" href="#"><i class="fab fa-linkedin"></i></a>
            <a class="social-link" href="#"><i class="fab fa-github"></i></a>
          </div>

          <div class="a-info">
            <img class="a-img" src="https://avatars3.githubusercontent.com/u/18757535?s=460&v=4" alt="#">
            <p class="a-name">Soham Chatterjee</p>
            <p class="a-role">Researcher</p>
              <a class="social-link" href="https://twitter.com/csoham_"><i class="fab fa-twitter"></i></a>
              <a class="social-link" href="https://www.linkedin.com/in/soham-chatterjee/"><i class="fab fa-linkedin"></i></a>
              <a class="social-link" href="https://github.com/soham96/"><i class="fab fa-github"></i></a>
            </div>

            <div class="a-info">
              <img class="a-img" src="https://avatars3.githubusercontent.com/u/29728415?s=460&u=d0f721d51f18090b21773af64054f861391c872a&v=4" alt="#">
              <p class="a-name">Vaidheeswaran Archana</p>
              <p class="a-role">Researcher</p>
                <a class="social-link" href="https://twitter.com/ArchanaIyer1996"><i class="fab fa-twitter"></i></a>
                <a class="social-link" href="https://www.linkedin.com/in/archana-iyer/"><i class="fab fa-linkedin"></i></a>
                <a class="social-link" href="https://github.com/varchanaiyer"><i class="fab fa-github"></i></a>
              </div>


  </div>
</div>
              -->



{% include footer.html %}
</body>
</html>
