<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>scicafe | home</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/master.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/all.css">
  </head>
  <body>
    <div id="wrapper">

<!---Nav Bar--------------------------------------->

    {% include main-nav.html %}

 <!--x-Nav Bar-x------------------------------------->
<div class="site-title">
<div class="header-bar">
 <h1>scicafé</h1>
 <span class="tagline">Science and Computation</span>
 <br>
 <br>
 </div>
</div>


{{content}}


<!---Post container---------------------------------->

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li class="post-cont">


        <div class="post-sub">
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <span class="post-read-time">{{ post.read-time }}</span>
          <p class="post-description">{{ post.description }}</p>

        </div>


        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

    {%- endif -%}


<footer style="position : absolute"> 
  <span>
    Science and Computation @scicafe 2020 | scicafe/scicafe.github.io
  </span>
</footer>

  </div>

  </body>
</html>
